body{
    background-color:white;
}
.container{
    width: 30%;
    margin-top: 100px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.container2{ 
    width: 60%;
    }
    .Submit{
        background-color: black;
        color: white;
        font-family: "Oswald";
        font-weight: 600;
        padding: 10px 20px 10px 20px;
        border-radius: 30px;
       
    }
    .Submit:hover{
        background-color: white;
        color: black;
        border: 3px solid black;
        
    }
    