*{
    margin: 0px;
    padding: 0px;
  }
h1{
    cursor: pointer;
    padding: 0;
    font-size: 25px;
    font-weight: 800;
    color: black;
    font-family:"Oswald";
}
nav{
    margin-top: 0px;
    padding: 20px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px;
    background-color: white;
    z-index: 2;
    width: 100%;
    top: 0px;
}